@model List<Model.EF.Category>

<div class="sidebar-categories">
    <div class="head">Browse Categories</div>
    <ul class="main-categories">
        <li class="common-filter">
            <form action="#">
                <ul class="categorination">
                    @foreach (var item in Model)
                    {
                        <li class="filter-list"><a href="#" data-categoryid="@item.CategoryID">@item.CategoryName</a></li>
                    }

                </ul>
            </form>

        </li>
    </ul>
</div>








