<div class="filter-bar d-flex flex-wrap align-items-center">
    <div class="sorting">
        <select class="nice-select select-product-filter">
            <option value="1">Newest</option>
            <option value="2">Price: High-Low</option>
            <option value="3">Price: Low-High</option>
        </select>
    </div>

    <div class="sorting mr-auto">
        <select class="nice-select">
            <option value="1">Show 2</option>
            <option value="1">Show 3</option>
            <option value="1">Show 4</option>
        </select>
    </div>

    <div>
        <div class="input-group filter-bar-search">
            <input class="input-search-product" type="text" placeholder="Search">
            <div class="input-group-append">
                <button class="button-search-product" type="button" style="border-radius:0%;height:38px"><i class="ti-search"></i></button>
            </div>
        </div>
    </div>

</div>

<style>
    .button-search-product:hover{
        cursor:pointer;
         border:solid #0094ff thin;
    }
</style>
