@model ShoesStore.Models.UserLogin

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="dropdown">
            <img style="width:40px;height:40px;border-radius:50%;background-color:chartreuse;border-color:blue;" src="~/Assets/Client/img/blog/vanquan.png"/>

            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="background:transparent">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "Account" })

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                <a class="dropdown-item" href="#">My Orders</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
            </div>
        </div>

    }

}
else
{
    if (Model != null)
    {
        using (Html.BeginForm("LogOut", "Login",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <div class="dropdown">
                <img style="width:40px;height:40px;border-radius:50%;border:none;"src="~/Assets/Client/img/blog/author.png" />

                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="background:transparent;border:none">
                    @Html.ActionLink(Model.Email.ToLower(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "Account" })

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                    <a class="dropdown-item" href="/User/ViewProfile">Manage My Accout</a>
                    <a class="dropdown-item" href="#">My Orders</a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                </div>
            </div>

        }
    }
}
<style>
    .Account {
        font-size: xx-small
    }
</style>

