
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}




<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Tất cả <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chờ xác nhận</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Home/WaitToTakeOrders">Chờ lấy hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đang giao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đã giao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đã hủy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trả hàng/Hoàn tiền</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container d-flex p-3">
        <div class="flex-row d-none d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
        <div class="ml-md-auto d-flex align-items-end float-right">
            <label class="pr-2">Ngày đặt hàng:</label>
            <input data-date-format="dd/mm/yyyy" class="form-control datepicker">
            <label>-</label>
            <input data-date-format="dd/mm/yyyy" class="form-control datepicker">
            <button class="ml-2 btn btn-outline-dark">Xuất</button>
        </div>
    </div>

    <div class="ml-md-auto d-flex align-items-end">
        <div class="container p-3">
            <h3 class="float-left">119 đơn hàng</h3>
            <div class="d-flex float-right align-items-end">

                <label class="mr-2">Sắp xếp theo</label>
                <!-- Basic dropdown -->
                <button class="btn btn-outline-dark dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" id="btn-drowndown">
                    Ngày gần nhất
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-value="Action">Ngày gần nhất</a>
                    <a class="dropdown-item" href="#" data-value="Another action">Ngày xa nhất</a>
                    <div class="dropdown-divider"></div>

                </div>
                <!-- Basic dropdown -->
                <button class="btn btn-primary">Chọn ngày/In phiếu giao hàng loạt</button>
            </div>

        </div>
    </div>

    <div class="card bg-secondary text-white">
        <div class="container">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        Sản phẩm
                    </div>
                    <div class="col">
                        Tổng đơn hàng
                    </div>
                    <div class="col">
                        Trạng thái
                    </div>
                    <div class="col">
                        Đếm ngược
                    </div>
                    <div class="col">
                        Vận chuyển
                    </div>
                    <div class="col">
                        Thao tác
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mt-3">
            <div class="card-header d-flex">
                <a href="#">User 1</a>
                <label class="ml-auto float-right">ID đơn hàng: 17862368SD932DS</label>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <a href="#" class="d-flex">
                                <img src="./img/product1.jpg" width="100px">
                                <h6>Product 1</h6>
                            </a>
                        </div>
                        <div class="col">
                            69.000₫
                        </div>
                        <div class="col-3">
                            Trạng thái
                        </div>
                        <div class="col">
                            Giao hàng tiết kiệm
                        </div>
                        <div class="col">
                            <a href="/Admin/Home/OrderDetails">Xem chi tiết</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>

