@model Model.EF.Account


@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<link href="~/Assets/Client/css/user.css" rel="stylesheet" />

<style>


    .field-icon {
        float: right;
        margin-left: -25px;
        margin-right: 10px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
</style>

<section>
    <div class="container">
        <div id="user-pf-wrapper">

            <div id="left-panel-user">
                <div id="avatar-name" class="text-center">
                    <img class="d-block mt-5" src="/Assets/Client/img/blog/author.png" />
                    <label class="pb-5 mt-4">@Model.User.Name</label>
                </div>

                <div class="left-item">
                    <a class="my-3" href="/User/ViewProfile"><span><i class="ti-home mr-3"></i></span> Account overview</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="/User/EditProfile"><span><i class="ti-pencil mr-3"></i></span> Edit profile</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="/User/ResetPassword"><span><i class="ti-lock mr-3"></i></span> Change password</a>
                </div>
                <div class="left-item">
                    <a class="my-3" href="#"><span><i class="ti-shopping-cart mr-3"></i></span> My cart</a>
                </div>
            </div>


            <div id="right-panel-user">
                <div class="user-info">
                    <h2 class="mb-5">Change your password</h2>
                    <span style="color:lawngreen">@ViewBag.Message</span>
                    <form action="/User/ResetPassword" method="post">
                        <input name="accID" type="hidden" value="@Model.AccID" />
                        <div class="form-group">
                            <label>Current password</label>
                            <input id="password-field-current" type="password" class="form-control" name="oldPass">
                            <span toggle="#password-field-current"
                                  class="fa fa-fw field-icon toggle-password fa-eye"></span>
                        </div>
                        <div class="form-group">
                            <label>New password</label>
                            <input id="password-field-new" type="password" class="form-control" name="newPass">
                            <span toggle="#password-field-new"
                                  class="fa fa-fw field-icon toggle-password fa-eye"></span>
                        </div>
                        <div class="form-group">
                            <label>Repeat new password</label>
                            <input id="password-field-new-again" type="password" class="form-control" name="newPass2">
                            <span toggle="#password-field-new-again"
                                  class="fa fa-fw field-icon toggle-password fa-eye"></span>
                        </div>

                        <button type="submit" class="button-tracking my-5">SAVE</button>
                        <button class="button button-header">CANCEL</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>

<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));

        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>