@model List<Model.EF.Color>

<form action="#">
    <ul>
        @foreach (var item in Model)
        {
            <li class="filter-list"><input class="pixel-radio" type="radio" name="color"><label for="black">@item.ColorName</label></li>
        }
    </ul>
</form>
