@model List<Model.EF.Size>

<form action="#">
    <ul>
        @foreach (var item in Model)
        {
        <li class="filter-list">
            <input class="pixel-radio" type="radio" name="brand"><label for="apple"><span>@item.Number</span></label>
        </li>
        }

    </ul>
</form>
